@font-face {
  font-family: Inter;
  src: url(/assets/fonts/Inter.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000000;
  padding: 45px;
  max-width: 386px;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  max-height: 520px;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

.label {
  text-transform: lowercase;
}

.input {
  font-family: "Inter", sans-serif;
  line-height: 28px;
  padding: 10px 15px;
  border: 1px solid #e2e1e5;
  height: 48px;
  border-radius: 5px;
  width: 100%;
}

.input:placeholder-shown {
  text-transform: lowercase;
  color: #d2d2d2;
}

.input:focus {
  border-color: #222222;
}

.input:disabled {
  background-color: #d8d8d8;
}

.error-message {
  color: #f90000;
  display: flex;
  margin-top: 5px;
}

.error-message div:first-child {
  margin: 0px 5px;
}

.vSpacer33 {
  height: 33px;
}

.error-field {
  border-color: #f90000;
}

.form-field:last-child {
  margin-bottom: 0;
}

.btn {
  background-color: #5e5bff;
  border-radius: 5px;
  border: 1px solid #5e5bff;
  padding: 10px 15px;
  color: #ffffff;
  line-height: 28px;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.65;
}

.greet-message {
  margin-top: 0;
  margin-bottom: 30px;
}

.logout {
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.relative {
  position: relative;
}
.eye-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}
